.row-poster {
  display: flex;
  overflow-y: hidden;
}

.row-poster::-webkit-scrollbar {
  display: none;
}

.img-poster {
  height: 250px;
  object-fit: contain;
  transition: transform 500ms;
  padding: 5px;
  border-radius: 10px;
}

.img-poster:last-child {
  margin-right: 20px;
}

.img-poster:first-child {
  margin-left: 20px;
}

.img-poster:hover {
  transform: scale(1.1);
}
